{{ define "title" }}Create a snippet{{ end }}

{{ define "main" }}
    <form action="/snippet/create" method="POST">
        <!-- Invisible CSRF token field  -->
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <div>
            <label>Title</label>
            <br>
            <!-- Render val errors -->
            {{ with .Form.FieldErrors.title }}
                <label class="error">{{.}}</label>
            <br>
            {{ end }}
            <!-- Repopulate the title data by setting 'value' -->
            <input type="text" name="title" value="{{.Form.Title}}">
        </div>
        <div>
            <label>Content</label>
            <br>
            <!-- Render val errors -->
            {{ with .Form.FieldErrors.content }}
                <label class="error">{{.}}</label>
                <br>
            {{ end }}
            <!-- Repopulate the content data -->
            <textarea name="content">{{ .Form.Content }}</textarea>
            <!-- <textarea name="content" id="" cols="30" rows="10"></textarea> -->
        </div>
        <div>
            <label>Delete in:</label>
            {{ with .Form.FieldErrors.expires }}
                <label class="error">{{.}}</label>
            {{ end }}
            <!-- Check repopulated expires values -->
            <input type="radio" name="expires" value="365" {{if (eq .Form.Expires 365) }}checked{{end}}>One year
            <input type="radio" name="expires" value="7" {{if (eq .Form.Expires 7) }}checked{{end}}>One week
            <input type="radio" name="expires" value="1" {{if (eq .Form.Expires 1) }}checked{{end}}>One day
        </div>
        <div>
            <input type="submit" value="Publish snippet">
        </div>
    </form>
{{ end }}
```
