{{define "title"}}Signup{{end}}

{{define "main"}}
<form action="/user/signup" method="POST" novalidate>
    <div>
        <label>Name:</label>
        {{with .Form.FieldErrors.name}}<br>
            <label class="error">{{.}}</label><br>
        {{end}}
        <input type="text" name="name" value="{{.Form.Name}}">
    </div>
    <div>
        <label>Email:</label>
        {{with .Form.FieldErrors.email}}<br>
            <label class="error">{{.}}</label><br>
        {{end}}
        <input type="email" name="email" value="{{.Form.Email}}">
    </div>
    <div>
        <label>Password:</label>
        {{with .Form.FieldErrors.password}}<br>
            <label class="error">{{.}}</label><br>
        {{end}}
        <input type="password" name="password">
    </div>
    <div>
        <input type="submit" value="Signup">
    </div>
</form>
{{end}}