{{define "title"}}Snippet #{{.ID}}{{end}}

{{define "main"}}
    <divclass='snippet'>
        <divclass='metadata'>
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <divclass='metadata'>
            <time>Created: {{.Created}}</time>
            <time>Expires: {{.Expires}}</time>
        </div>
    </div>
{{end}}